$base-color: #545149;
$shadow-color: #A9A9A9;
$nav-color: #4056a1;
$accent-color: #EF626C;
$accent-text: white;
$error-text: #941C1C;
$error-bg: #FFDCDC;
$error-border: red;
$main-bg: #f4f1ec;
$counter: #f25244;

$nav-font: 'Bungee', sans-serif;
$main-font: 'Source Sans Pro', sans-serif;