@use 'base';

article.tweet {
  border: 4px solid base.$base-color;
  margin: 1em 0em;
}

article.tweet:hover {
  box-shadow: 10px 10px base.$shadow-color;
}

article.tweet:hover .handle {
  display: block;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet header img {
  margin: 1em;
}

article.tweet header .user {
  flex-grow: 2;
  font-weight: 300;
}

article.tweet header .handle {
  margin: 1em;
  color: base.$shadow-color;
  display: none;
  font-weight: 700;
}

article.tweet p.tweet-content {
  margin: 1em;
  overflow-wrap: break-word;
}

article.tweet footer {
  border-top: 4px solid base.$base-color;
  margin: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet footer .timestamp {
  font-size: smaller;
}

article.tweet footer .icons {
  color: base.$nav-color;
  display: none;
}

article.tweet:hover footer .icons {
  display: block;
}

article.tweet .fas {
  margin: 0.5em;
}

@media screen and (min-width: 1024px) {
  article.tweet {
    margin: 1em 2em;
  }
}