header.profile {
  height: 400px;
  width: 100%;
  background-color: #ECEEFF;
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
  margin-top: 120px;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
}