.new-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: bold;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  margin-top: 0.5em;
}

form div {
  margin: 0.5em 0em;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
  border-top: 4px solid #545149;
}

button {
  background-color: #4056a1;
  color: #ffffff;
  font-family: 'Bungee', sans-serif;
  border: none;
  padding: 0.25em;
}

output {
  font-family: 'Bungee', sans-serif;
}

.counter-negative {
  color: #f25244;
}