.new-tweet {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-tweet-err, .long-tweet-err {
  color: #941C1C;
  font-weight: 300;
  border-radius: 10px;
  background: #FFDCDC;
  margin: 1em;
  border: 1px solid red;
  align-content: center;
  display: none;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: bold;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  margin-top: 0.5em;
}

form div {
  margin: 0.5em 0em;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
  border-top: 4px solid #545149;
}

button {
  background-color: #4056a1;
  color: white;
  font-family: "Bungee", sans-serif;
  border: none;
  padding: 0.25em;
}

output {
  font-family: "Bungee", sans-serif;
}

.counter-negative {
  color: #f25244;
}

@media screen and (min-width: 1024px) {
  .new-tweet {
    margin: 1em 2em;
    width: 90%;
  }
}

